.App {
  background-color: #cecece;
}

.maxWidth {
  max-width: 1300px;
  width: 85%;
  margin: 0 auto;
}

.ant-layout {
  background: #fff;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
