.Advice {
    position: fixed;
    top: 350px;
    right: 0;
    z-index: 10;
    padding: 22px 18px;
    border-radius: 10px 0 0 10px;
    background-color: #fff;
    box-shadow: 0 0 5px #aaa;
    opacity: 0.3;    
    transition-duration: 0.25s;
    &:hover {
        opacity: 1;
    }
    a {
        display: block;
        opacity: 0.7;
        filter: grayscale(0.3) hue-rotate(20deg);
        transform: scale(1.01);
        transition-duration: 0.25s;
        & + a {
          margin-top: 30px;
        }
        &:hover {
          opacity: inherit;
          filter: none;
          transform: none;
        }
        img {
            max-width: 20px;
        }
    }
     
}
